<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>The International Tokimon Database</h1>
    <p>This is the government database associated with the tracking of tokimons living in captivity. This data includes the Tokimon trainers associated with those tokimon.</p>
    <a type="button" class="btn btn-lg btn-default" href="/trainers"><span class="glyphicon glyphicon-user"></span> List of Trainers</a>
    <a type="button" class="btn btn-lg btn-primary" href="/tokimons"><span class="glyphicon glyphicon-piggy-bank"></span> List of Tokimon</a>
  </div>
</div>
