<h1>Editing <%=@tokimon.name%></h1>

<%= render 'form' %>

<%= button_to "Show Tokimon's details", @tokimon, :class => "button", :method => :get %>
<%= button_to 'Return to Tokimon Listings', tokimons_path, :class => "button", :method => :get %>
