<h1>Editing <%=@trainer.name%></h1>

<%= render 'form' %>

<%= button_to "Show Trainer's details", @trainer, :class => "button", :method => :get %>
<%= button_to 'Return to Trainer Listings', trainers_path, :class => "button", :method => :get %>
